/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #004080;
  color: white;
  bottom: 0;
  width: 100%;
}

/* Linkler */
a {
  color: #004080;
  text-decoration: none;
}

a:hover {
  color: #00264d;
  text-decoration: underline;
}